
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h2 class="">Full-Stack Development in JavaScript</h2>
                <p class="">Whatever needs you have in your development stack, I'm here to help. I can use Node and Express to stand up a server, we can mine or manage data together in MySQL or Mongo, or we can build a dope front end GUI for your web app to keep the customers coming back. Look around to see more info on my experience and my skills and then contact me <a href="/contact">here</a> or look me up on <a href="https://www.linkedin.com/in/jeremiahscanlon" target="_blank">LinkedIn</a> or <a href="https://twitter.com/jeremiahscanlon" target="_blank">Twitter.</a> </p>
            </div>
            <div class="col l2 offset-l2 s6">
                <h5 class="">Site</h5>
                <ul>
                    <li><a class="" href="/">Home</a></li>
                    <li><a class="" href="/portfolio">Portfolio</a></li>
                    <li><a class="" href="/about-me">About me</a></li>
                    <li><a class="" href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col l2 s6">
                <h5 class="">Connect</h5>
                <ul>
                    <li>
                        <a href="https://twitter.com/jeremiahscanlon" target="_blank">
                            <img class="rotate small" src="/assets/images/Twitter.png" alt="Jeremiah on Twitter"> &nbsp;&nbsp;Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/jeremiahscanlon" target="_blank">
                            <img class="rotate small" src="/assets/images/GitHub.png" alt="Jeremiah on GitHub"> &nbsp;&nbsp;GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jeremiahscanlon" target="_blank">
                            <img class="rotate small" src="/assets/images/LinkedIn.png" alt="Jeremiah on LinkedIn"> &nbsp;&nbsp;LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="http://stackexchange.com/users/7618262/jeremiah-s?tab=activity" target="_blank">
                            <img class="rotate small" src="/assets/images/StackOverflow.png" alt="Jeremiah on Stackoverflow"> &nbsp;&nbsp;Stackoverflow
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            © 2016 - jeremiahscanlon.com
        </div>
    </div>
</footer>

<script src="/assets/js/main.js"></script>


</body>
</html>
