

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo"><img id="headerLogo" src="/assets/images/js_logo_gnwh_node.png" alt="JeremiahScanlon.com"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="navImg" href="https://twitter.com/jeremiahscanlon" target="_blank"><img class="rotate small" src="/assets/images/Twitter.png" alt="Jeremiah on GitHub"></a></li>
                <li><a class="navImg" href="https://github.com/jeremiahscanlon" target="_blank"><img class="rotate small" src="/assets/images/GitHub.png" alt="Jeremiah on GitHub"></a></li>
                <li><a class="navImg" href="https://www.linkedin.com/in/jeremiahscanlon" target="_blank"><img class="rotate small" src="/assets/images/LinkedIn.png" alt="Jeremiah on LinkedIn"></a></li>
                <li><a class="navImg" href="http://stackexchange.com/users/7618262/jeremiah-s?tab=activity" target="_blank"><img class="rotate small" src="/assets/images/StackOverflow.png" alt="Jeremiah on Stackoverflow"></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contact">Contact Me</a></li>
                <li><a href="https://twitter.com/jeremiahscanlon" target="_blank"><img class="rotate small" src="/assets/images/Twitter.png" alt="Jeremiah on GitHub"></a></li>
                <li><a href="https://github.com/jeremiahscanlon" target="_blank"><img class="rotate small" src="/assets/images/GitHub.png" alt="Jeremiah on GitHub"></a></li>
                <li><a href="https://www.linkedin.com/in/jeremiahscanlon" target="_blank"><img class="rotate small" src="/assets/images/LinkedIn.png" alt="Jeremiah on LinkedIn"></a></li>
                <li><a href="http://stackexchange.com/users/7618262/jeremiah-s?tab=activity" target="_blank"><img class="rotate small" src="/assets/images/StackOverflow.png" alt="Jeremiah on Stackoverflow"></a></li>
            </ul>
        </div>
    </nav>
</div>